:root
{
    --grid-columns: 7;
    --grid-rows: 6;
    --grid-aspect: var(--grid-columns) / var(--grid-rows);

    --footer-height: 48px;
    --header-height: 64px;
    --sidebar-width: clamp(100px, 25%, 300px);

    --palette-accent0: #804;
    --palette-accent1: #d07;
    --palette-accent2: #f08;
    --palette-accent3: #e48;
    --palette-base0: #232629;
    --palette-base1: #2d3136;
    --palette-base2: #31363b;
    --palette-base3: #4d5057;
    --palette-base4: #616569;
    --palette-base5: #eff0f1;
    --palette-secondary0: #345e75;
    --palette-secondary1: #3daee9;

    --grid-background: #1143c4;
}

*
{
    box-sizing: border-box;
}

body
{
    color: var(--palette-base5);
    font-family: "Fira Sans", sans-serif;
    font-size: 16pt;
    height: 100%;
    margin: 0;
    position: absolute;
    width: 100%;
}

header
{
    background: var(--palette-accent2);
    height: var(--header-height);
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

header a
{
    color: var(--palette-base5);
    position: absolute;
    right: 1em;
    top: 0.5em;
}

header h1
{
    font-size: 28pt;
    font-weight: bold;
    padding: 0;
    padding-top: 10px;
    margin: 0;
}

aside
{
    background: var(--palette-base1);
    height: calc(100% - var(--header-height) - var(--footer-height));
    /* max-width: var(--sidebar-max-width); */
    position: absolute;
    top: var(--header-height);
    width: var(--sidebar-width);
}

main
{
    background: var(--palette-base2);
    height: calc(100% - var(--header-height) - var(--footer-height));
    left: var(--sidebar-width);
    position: absolute;
    top: var(--header-height);
    width: calc(100% - var(--sidebar-width));
}

footer
{
    background: var(--palette-secondary0);
    bottom: 0px;
    height: var(--footer-height);
    padding: 0.5em;
    position: absolute;
    width: 100%;
}

.grid
{
    aspect-ratio: var(--grid-aspect);
    background: var(--palette-base0);
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
    max-height: 100%;
    max-width: 100%;
}

.row
{
    height: calc(100% / var(--grid-rows));
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
}

.cell
{
    background-size: cover;
    border: 0.5px solid var(--palette-base3);
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: calc(100% / var(--grid-columns));
}

.cell.empty
{
    
}

.cell.I
{
    background-color: var(--palette-secondary1);
}

.cell.J
{
    background-color: var(--palette-secondary1);
}

.cell.L
{
    background-color: var(--palette-secondary1);
}

.cell.O
{
    background-color: var(--palette-secondary1);
}

.cell.S
{
    background-color: var(--palette-secondary1);
}

.cell.T
{
    background-color: var(--palette-secondary1);
}

.cell.Z
{
    background-color: var(--palette-secondary1);
}

.cell.current
{
    background-color: var(--palette-accent2);
}
